@model Menu
@{
    ViewData["Title"] = "Edit Menu Item";
}

<h2 class="text-center my-4">Edit Menu Item</h2>

<div class="container">
    <form method="post" asp-controller="Admin" asp-action="EditMenuItem" class="bg-light p-4 rounded shadow">
        <input type="hidden" name="userId" value="@ViewBag.UserId" />
        <input type="hidden" name="Id" value="@Model.Id" /> <!-- Add this line -->
        <div class="mb-3">
            <label class="form-label" asp-for="BurgerName" asp-value>Burger Name</label>
            <input type="text" class="form-control" asp-for="BurgerName" required value=@Model.BurgerName />
            <span class="text-danger" asp-validation-for="BurgerName"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Description">Description</label>
            <textarea class="form-control" asp-for="Description" required value=@Model.Description></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="BasePrice">Base Price</label>
            <input type="number" class="form-control" asp-for="BasePrice" required value=@Model.BasePrice />
            <span class="text-danger" asp-validation-for="BasePrice"></span>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
