<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BurgerShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BurgerShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="
https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" />

</head>
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid position-absolute">
                <a class="navbar-brand" asp-controller="BurgerShop" asp-action="Register">Register</a>
            </div>
        </nav>
    </header>
    <div class="position-relative">
        <img src="./images/burgerShop3.jpg" alt="Burger Shop" class="img-fluid w-100" style="height: 100vh; object-fit: cover;" />
        <header class="position-absolute top-0 start-0 w-100">
            <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-0">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="BurgerShop" asp-action="Register">Register</a>
                </div>
            </nav>
        </header>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BurgerShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false) *@

    @* <div class="position-relative">
        <img src="./images/burgerShop3.jpg" alt="Burger Shop" class="img-fluid w-100 position-absolute" style="height: 100vh; object-fit: cover;" />
        <header class="position-relative top-0 start-0 w-100">
            <nav class="navbar navbar-expand-sm navbar-dark bg-gradient border-bottom box-shadow mb-0">
                <div class="container-fluid d-flex justify-content-between">
                    
                    <div class="navbar-nav">
                        <a class="nav-link" asp-controller="BurgerShop" asp-action="Login">Login</a>
                    </div>
                </div>
            </nav>
            <h1 class="position-absolute top-0 start-50 translate-middle-x text-white mb-5">Burger Shop</h1>
        </header>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="position-absolute top-50 start-50 translate-middle-x w-25 h-25">
        
            <form method="post" class="bg-white p-4 rounded shadow">
                <div class="mb-3">
                    <label class="form-label" asp-for="MobileNo"></label>
                    <input type="text" class="form-control" asp-for="MobileNo" />
                    <span class="text-danger" asp-validation-for="MobileNo"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div> *@
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-white">
            &copy; 2024 - BurgerShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

