@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <img src="./images/burgerShop3.jpg" alt="Burger Shop" class="img-fluid position-absolute top-10 start-0 w-100 h-100" />
</div> *@
